.comment-expand {
  float: right;
  color: black !important;
  margin-right: 2px !important;
}

.edit-button-color {
  color: #616161 !important;
}

.comment {
  margin-left: 10px;
  font-size: 1.25rem;
}

.card-text {
  color: black;
}

.comment-list {
  border: none !important;
}

.comment-message {
  background-color: inherit !important;
}

.user-image {
  width: 42px;
  height: 42px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
}

.message-area {
  cursor: default;
}

.user-name {
  padding-left: 5px;
}

.app-name {
  padding-left: 10px !important;
}
